@keyframes btn-mask {
  0%{
    transform: translateX(-100%) rotate(45deg);
  }
  100%{
    transform: translateX(100%) rotate(45deg);
  }
}

@keyframes btn-text {
  0%{
    transform: translateX(0);
    opacity: 1;
  }
  100%{
    transform: translateX(1rem);
    opacity: 0;
  }
}
@keyframes btn-text-bis {
  0%{
    transform: translateX(-1rem);
    opacity: 0;
  }
  100%{
    transform: translateX(0);
    opacity: 1;
  }
}