.margin-bottom-small { margin-bottom: 2rem !important; }
.margin-bottom-medium { margin-bottom: 4rem !important; }
.margin-bottom-big { margin-bottom: 8rem !important; }
.font-size-large{ font-size: 3rem !important; }
.font-size-small{ font-size: 2rem !important; }
.align-right{ text-align: right; }